{% extends 'main.html' %}

{% block extrahead %}
  <link rel='stylesheet' href='/assets/css/home.css'>
{% endblock %}

<!-- Content -->
{% block content %}
  {{ page.content }}
  <div class='home__container'>
    <div class='layout layout-4 home__layout'>
      {% if page.meta.links %}

      {% for link in page.meta.links %}

      <div class='cell'>
        {% if page.meta.links[link].not_ready %}

        <a class='cell__link cell__link--inactive'>
          {% if page.meta.links[link].icon %}
          <img class='cell__img' src='{{ page.meta.links[link].icon }}' alt='{{ page.meta.links[link].title }}' draggable='false'>
          {% endif %}

          {% if page.meta.links[link].title %}
          <h2 class='cell__title'>{{ page.meta.links[link].title }}</h2>
          {% endif %}
        </a>

        {% else %}

        <a class='cell__link' href='{{ page.meta.links[link].url }}'>
          {% if page.meta.links[link].icon %}
          <img class='cell__img' src='{{ page.meta.links[link].icon }}' alt='{{ page.meta.links[link].title }}' draggable='false'>
          {% endif %}

          {% if page.meta.links[link].title %}
          <h2 class='cell__title'>{{ page.meta.links[link].title }}</h2>
          {% endif %}
        </a>

        {% endif %}

      </div>

      {% endfor %}

      {% endif %}
    </div>
    <div class='sidebar home__sidebar'>
      <div class='actuality home__actuality text-center'>
        <div class='actuality__header'>Актуалочка</div>
        <div class='actuality__body'>
          <div class='actuality__content'>Грузится...</div>
        </div>
        <div class='actuality__footer'></div>
      </div>
      <a href='https://mpei.space/win' class='sidebar__link' download>Скачать Win-клиент актуалочки</a>
    </div>
  </div>
  <script src='/assets/js/homepage.js'></script>

  <!-- Revision date -->
  {% if page and page.meta %}
    {% if page.meta.git_revision_date_localized or page.meta.revision_date %}
      {#% include 'partials/source-date.html' %#}
      <small class='sr-only'>Последнее обновление: {{ page.meta.git_revision_date_localized }}</small>
    {% endif %}
  {% endif %}
{% endblock %}
