{% extends "main.html" %}

{% block extrahead %}
<link rel='stylesheet' href='/assets/css/home.css'>

{% endblock %}


{% block tabs %} {{ super() }} {% endblock %}

<!-- Content -->
{% block content %}


{{ page.content }}


<div class="layout layout2">
    {% if page.meta.links %}

        {% for link in page.meta.links %}
        
        <div class="cell">
            
            {% if page.meta.links[link].not_ready %}
            
            
            <a class='cell__link cell__link--inactive'>
                {% if page.meta.links[link].icon %}
                    <img class='cell__img cell__img--inactive' src='{{ page.meta.links[link].icon }}' alt='{{ page.meta.links[link].title }}'>
                {% endif %}
                
                {% if page.meta.links[link].title %}
                    <h3 class='cell__title'>{{ page.meta.links[link].title }}</h3>
                {% endif %}
            </a>
            
            
            {% else %}
            
            <a class='cell__link' href="{{ page.meta.links[link].url }}">
                {% if page.meta.links[link].icon %}
                    <img class='cell__img' src='{{ page.meta.links[link].icon }}' alt='{{ page.meta.links[link].title }}'>
                {% endif %}
    
                {% if page.meta.links[link].title %}
                    <h3 class='cell__title'>{{ page.meta.links[link].title }}</h3>
                {% endif %}
            </a>
            {% endif %}
        
        </div>
        
        {% endfor %}

    {% endif %}

</div>

{% endblock %}

<!--
 @todo
 
 - Изменить css классы
 - Улучшить css код
 
 
 
 -->





