{% extends "base.html" %}

{% block analytics %}{% endblock %}

{% block announce %}
  <a href='https://yoomoney.ru/to/410013573761658' target='_blank'>
    <strong>На оплату домена</strong>
    <span class="twemoji cactus">
      {% include ".icons/material/cactus.svg" %}
    </span>
  </a>
{% endblock %}

{% block footer %}
  {{ super() }}

  <!-- Google Analytics -->
  {% if config.google_analytics %}
    {% include "partials/integrations/analytics.html" %}
  {% endif %}

  <!-- Tag Manager -->
  {% if config.tag_manager %}
    {% include "partials/integrations/tag-manager.html" %}
  {% endif %}

{% endblock %}
