{% extends "base.html" %}

{% block analytics %}{% endblock %}

{% block announce %}
  <a href='https://yoomoney.ru/to/410013573761658' target='_blank'>
    <strong>На оплату домена</strong>
    <span class="twemoji cactus">
      {% include ".icons/material/cactus.svg" %}
    </span>
  </a>
{% endblock %}

{% block footer %}
  {{ super() }}

  <!-- Google Analytics -->
  {% if config.google_analytics %}
    {% include "partials/integrations/analytics.html" %}
  {% endif %}

  <!-- Tag Manager -->
  {% if config.tag_manager %}
    {% include "partials/integrations/tag-manager.html" %}
  {% endif %}

  <template>
      <div class='selection-menu'>
          <div class='selection-menu__btn-group'>
                <button class='selection-menu__btn selection-menu__separator' data-action='copy' title='Copy'>
                    {% include ".icons/fontawesome/regular/copy.svg" %}
                </button>
          </div>

          <div class='selection-menu__btn-group'>
              <button class='selection-menu__btn' data-action='vkontakte' title='Share with VK'>
                  {% include ".icons/fontawesome/brands/vk.svg" %}
              </button>

              <button class='selection-menu__btn' data-action='telegram' title='Share with Telegram'>
                  {% include ".icons/fontawesome/brands/telegram-plane.svg" %}
              </button>

              <button class='selection-menu__btn' data-action='twitter' title='Share with Twitter'>
                  {% include ".icons/fontawesome/brands/twitter.svg" %}
              </button>
          </div>
      </div>
  </template>
  <script defer src='/assets/js/components/selection-menu.js'></script>
{% endblock %}
