@import 'mixins/hover';
@import 'components/actuality';

.md {
  &-sidebar {
    display: none;
  }

  &-content {
    max-width: 100%;
  }
}

// remove menu icon and enable logo
.md-header-nav__button,
.md-header__button {
  @media screen and (max-width: 76.1875em) {
    &.md-logo {
      display: block;
    }

    &.md-icon {
      display: none;
    }
  }
}

.home {
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__layout {
    margin-bottom: 70px;
  }

  &__sidebar {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }

  &__actuality {
    margin-bottom: 20px;
  }
}

.layout {
  display: grid;
  align-items: flex-start;
  flex-grow: 2;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem 1rem;

  .cell {
    display: flex;
    align-items: center;
    flex-direction: column;

    &__link {
      text-align: center;

      &--inactive {
        opacity: .5;
        filter: grayscale(1);
        cursor: not-allowed;
      }

      @include hover {
        .cell__img {
          box-shadow: 0 4px 10px var(--md-code-hl-function-color);
          transform: translateY(-3px);
        }
      }
    }

    &__img {
      object-fit: cover;
      border-radius: 100%;
      width: 128px;
      height: 128px;
      transition: .3s all;
      transition-property: transform, box-shadow;
    }

    &__title {
      overflow: hidden;
      margin: 0;
    }
  }
}

@media (max-width: 576px) {
  .layout {
    .cell {
      &__title {
        font-size: 6vw;
      }
    }
  }
}

@media (min-width: 576px) {
  .layout {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .layout {
    &-2 {
      grid-template-columns: 1fr 1fr;
    }

    &-4 {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    &-6 {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }
}

@media (min-width: 1200px) {
  .home {
    &__container {
      align-items: flex-start;
      flex-direction: row;
    }

    &__layout {
      margin-right: 40px;
      margin-bottom: 0;
    }

    &__sidebar {
      max-width: 400px;
    }
  }
}
