//@import 'components/selection-menu';
$border-radius: 4px;

%link-style-default {
  color: var(--md-primary-fg-color);
}

%link-style-default--hovered {
  color: var(--md-accent-fg-color);
}

%link-style-secondary--hovered {
  color: var(--md-typeset-a-color);
}

.small {
  font-size: .7rem;
}

.ul-reset {
  margin: 0 !important;
  padding: 0 !important;
}

.pwa-install {
  display: none;

  &.show {
    display: block;
  }
}

.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
}

.highlighted {
  display: inline-block;
  padding: 5px 15px;
  border-radius: .1rem;
  background-color: var(--md-code-bg-color);
  font-size: .85em;
}

[data-md-color-scheme=slate] {
  --md-header-bg-color: #1e2029;
  --md-primary-fg-color: #bf95f9;
  --md-primary-fg-color--transparent: #bf95f91a;
  --md-typeset-a-color: #8be8fd;
  --md-accent-fg-color: #b07df7;
  --md-text-color: #f8f8f2de;
}

article img {
  display: block;
  margin: 10px auto;
}

article img,
.medium-zoom-image {
  border-radius: $border-radius;
}

.medium-zoom {
  &-overlay {
    z-index: 10;
  }

  &-image {
    z-index: 20;
  }
}

.md {
  &-announce__inner {
    display: flex;
    justify-content: space-between;
  }

  &-header {
    border-bottom: .05rem solid var(--md-primary-fg-color);
    background-color: var(--md-header-bg-color);
  }

  &-tabs {
    background-color: var(--md-primary-fg-color--transparent);
  }

  &-nav__item &-nav__link,
  &-tabs__link {
    &--active {
      @extend %link-style-default;
    }

    &:hover,
    &:focus {
      @extend %link-style-default--hovered;
    }
  }

  &-footer-links {
    margin: auto .6rem;

    &__header {
      margin-bottom: 10px;
    }

    &__item {
      position: relative;
      margin: 0 !important;
      padding-left: 20px;
      list-style: none;

      &::before {
        content: '';
        position: absolute;
        top: 8px;
        right: 0;
        bottom: 0;
        left: 0;
        width: 10px;
        height: 2px;
        background-color: var(--md-code-hl-function-color);
      }
    }
  }
}

.text {
  &-center {
    text-align: center;
  }
}
