.watch {
  &__player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  &__meta {

  }

  &__date {
  }

  &__buttons-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &__btn {
    font-size: 0.6rem;
    cursor: pointer;
    margin: 5px;
    //margin-top: 10px;

    &--active {

    }
  }
}