@use 'sass:map';

@import 'mixins/hover';
@import 'components/dropDown';
@import 'components/loader';
@import 'extend/text-one-line';

$media-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
);

$error-color: hsla(0, 67%, 50%, 1);
$error-color-dark: #b22525;
$primary-dark: #1b1c25;

.watch {
  &__prepend {
    margin-right: -1px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background: $primary-dark;
  }

  &__append {
    border-left: 2px solid var(--md-default-fg-color--light);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &__player {
    display: grid;
    align-items: flex-start;
    justify-content: center;
    grid-template-areas:
      'player navigation'
      'meta meta';
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
  }

  // VideoPlayer
  &__video {
    grid-area: player;
    // margin-bottom: 20px;
    border-radius: 6px;
    width: 640px;
    height: 360px;
    transition: .3s box-shadow;

    @include hover {
      box-shadow: 0 2px 10px var(--md-header-bg-color);
    }
  }

  // Navigation
  &__navigation {
    display: inline-flex;
    justify-content: space-between;
    grid-area: navigation;
    height: 100%;
  }

  &__select {
    width: 100%;
  }

  // Meta
  &__meta {
    display: inline-block;
    grid-area: meta;
  }

  &__total,
  &__error {
    display: inline-block;
  }

  &__error &__prepend {
    background-color: $error-color-dark;
  }

  &__error-mess {
    background-color: $error-color;
  }
}

@media screen and (max-width: map.get($media-breakpoints, 'lg')) {
  .watch {
    &__player {
      align-items: center;
      grid-template-areas:
        'player player'
        'navigation navigation';
    }

    &__video {
      margin: auto;
    }

    &__meta {
      display: none;
    }
  }

  .component-dropdown {
    margin: auto;

    &__body {
      position: relative;
    }
  }
}
