@import 'mixins/hover';
@import 'components/dropDown';

.watch {
  &__player {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__video {
    margin-bottom: 20px;
    border-radius: 6px;
    height: 360px;
    width: 640px;
    transition: .3s box-shadow;

    @include hover {
      box-shadow: 0 2px 10px var(--md-header-bg-color);
    }
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff url('/assets/icons/arrow-left.svg') center no-repeat;
    background-size: 30px;
    transition: .3s opacity;
    cursor: pointer;

    // temp
    display: none;

    &--next {
      transform: rotate(180deg);
    }

    &:disabled,
    &--disabled {
      opacity: .5;
    }
  }

  &__select {

  }
}
