<div class='md-footer-social'>
  <div class='md-footer-copyright'>Статус сборки</div>
  <a href='https://app.netlify.com/sites/mpei/deploys/'>
    <img src='https://api.netlify.com/api/v1/badges/bbf2370e-4608-40df-ad73-7275c6b71429/deploy-status/' alt='Netlify Status'>
  </a>
  <div class='md-footer-copyright'>
    <a href='mailto:grintvic.fox@yandex.ru?subject=Невероятная ошибка на сайте&body=Бродил я по вашему сайту в поисках необходимой информации и тут обнаружил нечто. Словами не описать, это надо видеть' target='_blank'>Об ошибках сообщать сюда</a>
  </div>
</div>