{% extends 'main.html' %}

{% block extrahead %}
<link rel='stylesheet' href='/assets/css/watch.css'>
{% endblock %}

<!-- Content -->
{% block content %}
{{ page.content }}


<div class='watch'>
  <div class='watch__player'>
    <iframe id='ytplayer' class='watch__player' width='640' height='360' title='' src='https://www.youtube.com/embed/dQw4w9WgXcQ' frameborder='0'></iframe>
    <div class='watch__meta'>
      <span class='watch__date'></span>
    </div>
  </div>
  <div class='watch__buttons-list'></div>
</div>


<script>
  document.addEventListener('DOMContentLoaded', () => {
    
    const watchList = {
      'BFcq6bwNgkE': {
        name: 'Лекция #1. Часть 1',
        date: '01.10.20',
      },
      'rmTIjswxjTA': {
        name: 'Лекция #1. Часть 2',
        date: '01.10.20',
      },
      '6WPuwFWbDvs': {
        name: 'Лекция #2. Часть 2',
        date: '06.10.20',
      },
      'rpGUy6PZiiw': {
        name: 'Лекция #3. Часть 1',
        date: '08.10.20',
      },
      '6bo0XQcR5T0': {
        name: 'Лекция #3. Часть 2',
        date: '08.10.20',
      },
      '9InpNm1-4UQ': {
        name: '2020 10 13 19 05 05 ОИБ',
        date: '...',
      },
      'CqpdUuOD-lY': {
        name: 'Лекция инфобез 1 часть',
        date: '13.10.2020',
      },
      'l0i6Niflk20': {
        name: '2020 10 13 20 25 58',
        date: '13.10.2020',
      },
      'PCZJdPuXUdc': {
        name: 'Лекция инфобез 2 часть',
        date: '13.10.2020',
      },
      'OCMjsepzEXg': {
        name: 'Инфобез',
        date: '15.10.2020',
      },
      'FWMXnp_bdeQ': {
        name: 'Инфобез',
        date: '15.10.2020',
      },
      'DG4j-AxOmVM': {
        name: 'Инфобез',
        date: '15.10.2020',
      },
      'Vd4ovyUlmxg': {
        name: 'Инфобез',
        date: '20.10.2020',
      },
      'vyJYQcGf4yo': {
        name: 'Кадровое обеспечение',
        date: '22.10.2020',
      },
      'LvquHJciiOU': {
        name: 'Кадровое обеспечение',
        date: '22.10.2020',
      },
      'Wmc7BMItX00': {
        name: 'Инфобез',
        date: '24.10.2020',
      },
      'lr99MlF9q4I': {
        name: 'ОИБ Семинар',
        date: '30.12.2020',
      },
      'uvIVI5-l03g': {
        name: 'КМ 4',
        date: '14.01 2020',
      },
    };
    
    const changeWatch = (url, date) => {
      const ytplayer = document.getElementById('ytplayer');
      const watchDate = document.querySelector('.watch__date');
      
      watchDate.textContent = date;
      ytplayer.src = `https://www.youtube.com/embed/${url}`;
    };
    
    for (const [key, value] of Object.entries(watchList)) {
      const watchButtons = document.querySelector('.watch__buttons-list');
      const btn = document.createElement('button');
      
      btn.textContent = value.name;
      // btn.dataset.url = key;
      btn.classList.add('watch__btn', 'md-button'); // , 'md-button--primary'
      
      btn.onclick = () => {
        const activeBtn = document.querySelector('.watch__btn.md-button--primary');
        
        changeWatch(key, value.date);
        
        activeBtn && activeBtn.classList.remove('md-button--primary');
        
        btn.classList.add('md-button--primary');
      };
      
      watchButtons.append(btn);
    }
    
    
  });
</script>


<!-- Revision date -->
{% if page and page.meta %}
{% if page.meta.git_revision_date_localized or page.meta.revision_date %}
{% include "partials/source-date.html" %}
{% endif %}
{% endif %}


{% endblock %}