$dropdown-border-radius: 6px;

@import '../mixins/hover';
@import '../extend/text-one-line';

.component-dropdown {
  position: relative;
  border-radius: $dropdown-border-radius;
  width: 100%;
  min-width: max-content;
  max-width: 250px;
  background: var(--md-header-bg-color);
  cursor: pointer;
  user-select: none;
  transition: .2s background-color;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border: 1px solid transparent;
    transition: all .2s;
    transition-property: border-color;
  }

  &__current {
    display: inline-block;
    width: calc(100% - 20px);

    @extend %text-one-line;
  }

  &__icon {
    display: inline-block;
    transition: transform 180ms;
  }

  &__body {
    position: absolute;
    display: none;
    overflow-y: auto;
    border-radius: 0 0 $dropdown-border-radius $dropdown-border-radius;
    width: 100%;
    max-width: 250px;
    z-index: 99;
    background: var(--md-header-bg-color);
    animation: fadeIn .2s forwards;

    &::-webkit-scrollbar {
      width: 4px;
      background: var(--md-header-bg-color);

      &-thumb {
        border-radius: 5px;
        background: var(--md-code-hl-function-color);
        background-clip: padding-box;
        transition: .2s all;
      }

      &-track {
        background: var(--md-header-bg-color);
      }
    }
  }

  &__option {
    padding: 10px 15px;
    outline: none;
    word-break: break-word;
    transition: all 100ms;
    transition-property: background-color, color;

    &:hover {
      background-color: var(--md-code-hl-function-color);
      color: #fff;
    }

    &.selected {
      border-left: 3px solid var(--md-code-hl-function-color);

      &:hover {
        border-color: #fff;
      }
    }
  }

  &.is-active {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #14151c;

    .component-dropdown {
      &__icon {
        transform: rotate(180deg);
      }

      &__body {
        display: block;
        border-top: 2px solid var(--md-code-hl-function-color);
      }
    }
  }
}

@keyframes fadeIn {
  from {
    max-height: 0;
  }

  to {
    max-height: 300px;
  }
}
