@use 'sass:map';

@import '../mixins/hover';
@import '../extend/text-one-line';

$dropdown-border-radius: 6px;
$media-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

.component-dropdown {
  position: relative;
  border-radius: $dropdown-border-radius;
  width: 100%;
  background: var(--md-header-bg-color);
  cursor: pointer;
  user-select: none;
  transition: .2s background-color;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border: 1px solid transparent;
    transition: all .2s;
    transition-property: border-color;
  }

  &__current {
    display: inline-block;
    width: calc(100% - 20px);

    @extend %text-one-line;
  }

  &__icon {
    display: inline-block;
    transition: transform 180ms;
  }

  &__body {
    position: absolute;
    display: none;
    overflow-y: auto;
    border-top: 2px solid var(--md-code-hl-function-color);
    border-radius: 0 0 $dropdown-border-radius $dropdown-border-radius;
    width: 100%;
    background: var(--md-header-bg-color);
    animation: fadeIn .2s forwards;

    @import 'scrollbar';
  }

  &__option {
    padding: 10px 15px;
    outline: none;
    word-break: break-word;
    transition: all 100ms;
    transition-property: background-color, color;

    @include hover {
      background-color: var(--md-code-hl-function-color);
      color: #fff;
    }

    &.selected {
      border-left: 3px solid var(--md-code-hl-function-color);
    }
  }

  &.is-active {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #14151c;

    .component-dropdown {
      &__icon {
        transform: rotate(180deg);
      }

      &__body {
        display: block;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    max-height: 0;
    opacity: 0;
  }

  to {
    max-height: 300px;
    opacity: 1;
  }
}

@media (min-width: map.get($media-breakpoints, 'sm')) {
  .component-dropdown {
    max-width: 250px;

    &__body {
      max-width: 250px;
    }
  }
}
