&::-webkit-scrollbar {
  width: 4px;
  background: var(--md-header-bg-color);

  &-thumb {
    border-radius: 5px;
    background: var(--md-code-hl-function-color);
    background-clip: padding-box;
    transition: .2s all;
  }

  &-track {
    background: var(--md-header-bg-color);
  }
}
