.selection-menu {
  --text-color: #c8c7cc;
  --border-radius: 10px;
  position: fixed;
  display: flex;
  border: 1px solid var(--md-default-fg-color--lighter);
  border-radius: var(--border-radius);
  background-color: #1a1b23;
  color: #fff;
  font-size: 0.5rem;
  animation: 0.1s fadeIn forwards;
}
.selection-menu__btn-group {
  display: grid;
  grid-auto-rows: minmax(35px, 1fr);
  grid-auto-columns: minmax(35px, 1fr);
  grid-auto-flow: column;
}
.selection-menu__btn-group:not(.selection-menu__btn-group:last-child) {
  border-right: 1px solid var(--md-default-fg-color--lighter);
}
.selection-menu__btn {
  box-sizing: border-box;
  padding: 8px;
  border-radius: var(--border-radius);
  cursor: pointer;
  fill: var(--text-color);
  transition: background-color 0.3s;
}
.selection-menu__btn:hover {
  background-color: rgba(104, 104, 104, 0.2);
}
.selection-menu__btn-group:not(.selection-menu__btn-group:last-child) .selection-menu__btn:last-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.selection-menu__btn-group:not(.selection-menu__btn-group:first-child) .selection-menu__btn:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.md-nav__item .md-nav__link--active, .md-tabs__link--active {
  color: var(--md-primary-fg-color);
}

.md-nav__item .md-nav__link:hover, .md-nav__item .md-nav__link:focus, .md-tabs__link:hover, .md-tabs__link:focus {
  color: var(--md-accent-fg-color);
}

.small {
  font-size: 0.7rem;
}

.ul-reset {
  margin: 0 !important;
  padding: 0 !important;
}

.pwa-install {
  display: none;
}
.pwa-install.show {
  display: block;
}

.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
}

.highlighted {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 0.1rem;
  background-color: var(--md-code-bg-color);
  font-size: 0.85em;
}

[data-md-color-scheme=slate] {
  --md-header-bg-color: #1e2029;
  --md-primary-fg-color: #bf95f9;
  --md-primary-fg-color--transparent: #bf95f91a;
  --md-typeset-a-color: #8be8fd;
  --md-accent-fg-color: #b07df7;
  --md-text-color: #f8f8f2de;
}

.md-announce__inner {
  display: flex;
  justify-content: space-between;
}
.md-header {
  border-bottom: 0.05rem solid var(--md-primary-fg-color);
  background-color: var(--md-header-bg-color);
}
.md-tabs {
  background-color: var(--md-primary-fg-color--transparent);
}
.md-footer-links {
  margin: auto 0.6rem;
}
.md-footer-links__header {
  margin-bottom: 10px;
}
.md-footer-links__item {
  position: relative;
  margin: 0 !important;
  padding-left: 20px;
  list-style: none;
}
.md-footer-links__item::before {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 10px;
  height: 2px;
  background-color: var(--md-code-hl-function-color);
}

.text-center {
  text-align: center;
}

.network-status {
  display: inline-block;
  color: var(--md-footer-fg-color--lighter);
}
.network-status__icon-online {
  display: none !important;
}
.network-status.online .network-status__icon-offline {
  display: none;
}
.network-status.online .network-status__icon-online {
  display: inline-block !important;
}

.text-center {
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
