.component-dropdown__current {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.component-dropdown {
  position: relative;
  border-radius: 6px;
  width: 100%;
  background: var(--md-header-bg-color);
  cursor: pointer;
  user-select: none;
  transition: 0.2s background-color;
}
.component-dropdown__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border: 1px solid transparent;
  transition: all 0.2s;
  transition-property: border-color;
}
.component-dropdown__current {
  display: inline-block;
  width: calc(100% - 20px);
}
.component-dropdown__icon {
  display: inline-block;
  transition: transform 180ms;
}
.component-dropdown__body {
  position: absolute;
  display: none;
  overflow-y: auto;
  border-top: 2px solid var(--md-code-hl-function-color);
  border-radius: 0 0 6px 6px;
  width: 100%;
  background: var(--md-header-bg-color);
  animation: fadeIn 0.2s forwards;
}
.component-dropdown__body::-webkit-scrollbar {
  width: 4px;
  background: var(--md-header-bg-color);
}
.component-dropdown__body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--md-code-hl-function-color);
  background-clip: padding-box;
  transition: 0.2s all;
}
.component-dropdown__body::-webkit-scrollbar-track {
  background: var(--md-header-bg-color);
}
.component-dropdown__option {
  padding: 10px 15px;
  outline: none;
  word-break: break-word;
  transition: all 100ms;
  transition-property: background-color, color;
}
@media (hover: hover) {
  .component-dropdown__option:hover {
    background-color: var(--md-code-hl-function-color);
    color: #fff;
  }
}
.component-dropdown__option.selected {
  border-left: 3px solid var(--md-code-hl-function-color);
}
.component-dropdown.is-active {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #14151c;
}
.component-dropdown.is-active .component-dropdown__icon {
  transform: rotate(180deg);
}
.component-dropdown.is-active .component-dropdown__body {
  display: block;
}

@keyframes fadeIn {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 300px;
    opacity: 1;
  }
}
@media (min-width: 576px) {
  .component-dropdown {
    max-width: 250px;
  }
  .component-dropdown__body {
    max-width: 250px;
  }
}
.loader {
  position: relative;
  overflow: hidden;
  padding: 20px 0;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  background: var(--md-header-bg-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.loader::before {
  content: attr(data-content);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  max-width: 80%;
  height: 100%;
  text-align: center;
}

.component-dropdown__current {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.watch__prepend {
  margin-right: -1px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background: #1b1c25;
}
.watch__append {
  border-left: 2px solid var(--md-default-fg-color--light);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.watch__player {
  display: grid;
  align-items: flex-start;
  justify-content: center;
  grid-template-areas: "player navigation" "meta meta";
  grid-template-columns: 3fr 1fr;
  grid-gap: 20px;
}
.watch__video {
  grid-area: player;
  border-radius: 6px;
  width: 100%;
  min-height: 100%;
  max-height: 360px;
  transition: 0.3s box-shadow;
}
@media (hover: hover) {
  .watch__video:hover {
    box-shadow: 0 2px 10px var(--md-header-bg-color);
  }
}
.watch__navigation {
  display: inline-flex;
  justify-content: space-between;
  grid-area: navigation;
  height: 100%;
}
.watch__select {
  width: 100%;
}
.watch__meta {
  display: inline-block;
  grid-area: meta;
}
.watch__total, .watch__error {
  display: inline-block;
}
.watch__error .watch__prepend {
  background-color: #b22525;
}
.watch__error-mess {
  background-color: #d52a2a;
}

@media screen and (max-width: 992px) {
  .watch__player {
    align-items: center;
    grid-template-areas: "player player" "navigation navigation";
  }
  .watch__video {
    margin: auto;
    height: 40vw;
    min-height: 150px;
    max-height: 640px;
  }
  .watch__meta {
    display: none;
  }

  .component-dropdown {
    margin: auto;
  }
  .component-dropdown__body {
    position: relative;
  }
}

/*# sourceMappingURL=watch.css.map */
